.popupContainer {
  background-color: var(--background);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  overflow-y: auto;
  max-height: 90vh;
  
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--primary-color);
}

.input,
.textarea,
.select {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid var(--background-2);
  border-radius: 4px;
  background-color: var(--background-light);
}

.input[type="file"] {
  padding: 8px 0;
}

.textarea {
  resize: vertical;
}

.imageSection {
  margin-bottom: 20px;
}

.imageItem {
  margin-bottom: 16px;
  position: relative;
}

.productImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.deleteImage,
.cancelDeletion {
  cursor: pointer;
  color: var(--error-color);
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.875rem;
}

.formActions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.saveButton,
.cancelButton {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.saveButton:hover,
.cancelButton:hover {
  background-color: var(--secondary-color-dark);
}
