:root {
  --primary-color: #556b2f; 
  --secondary-color: #4e4b2c;
  --font-color-1: #4d4d4d;
  --font-color-2: #eafff1;
  --background: #f4f4f4;
  --background-2: #e0e0e0;
  --background-3: #f9f9f9;
  --details-1: #6f4f28;
  --details-2: #313131;
  --primary-hover-color: #4e4b2c;
  --secondary-hover-color: #3f3c1f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Futura', sans-serif;
  color: var(--font-color-1);
  font-size: 1rem;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.active {
  color: var(--primary-color) !important;
  opacity: 1 !important;
}

.button_transparent {
  background-color: transparent;
  border: none;
  color: var(--details-1);
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.button_style_1 {
  background-color: var(--primary-color);
  color: var(--font-color-2);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button_style_1:hover {
  background-color: var(--secondary-color);
}

.button_style_1 a:active {
  color: var(--font-color-2) !important;
}

.cat_li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
  cursor: pointer;
  justify-content: center;
  color: var(--secondary-color);
}

.cat_li:hover {
  color: var(--primary-color);
}

.cat_li.active {
  color: var(--primary-color);
}

.cat_li_sub {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: var(--background-2);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: none;
}

.cat_li_sub:hover {
  display: block;
}

.visible {
  display: block;
}

.adminContainer {
  background-color: var(--background);
  border: 1px solid var(--background-2);
  border-radius: 8px;
  padding: 24px;
  margin: 24px auto;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.adminTitle {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 16px;
}

.adminList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.adminListItem {
  margin-bottom: 12px;
}

.adminListItem a {
  font-size: 1.25rem;
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.adminListItem a:hover {
  color: var(--secondary-color);
}

/* session */
.session-bg {
  background-color: var(--background);
  min-height: 100vh;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.session-btn {
  background-color: var(--primary-color);
  color: var(--font-color-2);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.session-btn:hover {
  background-color: var(--secondary-color);
}

/* signin */
.adminContainer {
  background-color: var(--background-3);
  border: 1px solid var(--background-2);
  border-radius: 8px;
  padding: 24px;
  margin: 0 auto;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.adminTitle {
  font-size: 1.75rem;
  color: var(--primary-color);
  margin-bottom: 16px;
}

.signinForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.signinInput {
  padding: 10px;
  border: 1px solid var(--background-2);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--font-color-1);
  transition: border 0.3s ease;
}

.signinInput:focus {
  border-color: var(--primary-color);
  outline: none;
}

.button_style_1 {
  background-color: var(--primary-color);
  color: var(--font-color-2);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.button_style_1:hover {
  background-color: var(--secondary-color);
}

.welcomeMessage {
  font-size: 1.25rem;
  color: var(--primary-color);
  margin-top: 20px;
}

/* signup */

/* Container and Form Styling */
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  background-color: var(--background-3);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formTitle {
  font-size: 1.75rem;
  color: var(--primary-color);
  margin-bottom: 16px;
}

/* Input Fields */
.inputField {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--input-border-color, #ccc);
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.inputField:focus {
  border-color: var(--input-focus-border-color, var(--primary-color));
  outline: none;
}

/* File Upload Label Styling */
.fileUploadLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--button-text-color, #fff);
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fileUploadLabel:hover {
  background-color: var(--primary-hover-color, #357abd);
}

/* Hide actual file input */
.fileInput {
  display: none;
}

/* Primary and Secondary Buttons */
.primaryButton {
  width: 100%;
  padding: 12px;
  background-color: var(--primary-color);
  color: var(--font-color-2, #fff);
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.primaryButton:hover {
  background-color: var(--primary-hover-color, );
}

.secondaryButton {
  padding: 10px;
  background-color: var(--secondary-color, #e0e0e0);
  color: var(--font-color-2, #fff);
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.secondaryButton:hover {
  background-color: var(--secondary-hover-color);
}

