.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--background);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    color: var(--font-color-1);
}

.navbar__outside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.navbar__top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    background: var(--secondary-color);
    color: var(--font-color-2);
}

.navbar__top > p {
    color: var(--font-color-2);
    font-size: 14px;
}

.navbar__logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--details-1);
}

.navbar__links {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.navbar__link {
    color: var(--font-color-1);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.2s;
    cursor: pointer;
}

.navbar__link  > a {
    color: var(--font-color-1);
    opacity: 0.7;
}

.navbar__link:hover {
    color: var(--primary-color);
    opacity: 1;
}

.navbar__link > a:hover {
    color: var(--primary-color);
    opacity: 1;
}
