.cat_ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
  cursor: pointer;
  justify-content: center;
}

.page_title {
  font-size: 1.5rem;
  text-align: center;
  color: var(--details-1);
}

.section {
  background-color: var(--background);
}

.categories_section {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background-color: var(--background-2);
}

.subtitle {
  padding: 10px 0;
  font-size: 1rem;
  color: var(--secondary-color);
  text-align: center;
}

.products_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}